/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100vh;
    min-block-size: 668px;
    padding: 0px 10px 0px 10px;
    align-content: start;
    row-gap: 8px;
}

.bulb {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: center;
    display: inline-flex;
    align-items: center;
    gap: 9px;
    color: var(--accent-color);
    font-family: var(--font), monospace;
    font-size: 18px;
    position: relative;
    margin-top: 11px;
    text-transform: uppercase;
}

.bulb::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px var(--decor-bg);
}

.header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    color: var(--accent-color);
    font-size: 18px;
    padding-right: 2px;
    margin-top: 6px;
}

.header__theme-menu-list {
    background-color: inherit;
}

.header__theme-menu-button {
    font-family: var(--font), monospace;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    text-transform: lowercase;
    border: 1px solid transparent;
    padding: 0px 10px 0px 13px;
    margin: 11px 0px 1px 0px;
}

.header__theme-menu-button:focus {
    outline: 0;
    border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
    border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button_active {
    border-color: var(--accent-color);
    opacity: 1;
    pointer-events: none;
}

h1 {
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    text-align: start;
    font-size: var(--main-header-size-mobile);
    color: var(--main-header-color);
    font-family: var(--font), monospace;
    line-height: 84%;
    text-shadow: 4px 4px 0 var(--decor-bg);
    font-weight: 700;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-color: var(--accent-color);
    border-style: solid;
}

.decorated-zone::before {
    top: 10px;
    right: 10px;
    border-width: 1px 1px 0 0;
}

.decorated-zone::after {
    left: 10px;
    bottom: 10px;
    border-width: 0 0 1px 1px;
}

.main-text {
    width: 100%;
    max-width: 22rem;
    grid-column: 1 / 3;
    align-self: center;
    padding: 0px 0px 12px 1px;
}

.section-header-concentrate {
    padding: 0px 4px 0px 0px;
}

.title-decor {
    color: var(--title-decor-color);
    background-color: var(--decor-bg);
    font-family: var(--font), monospace;
    font-weight: 700;
    font-size: 18px;
}

.section-advice {
    display: grid;
    padding: 21px 5px 0px 4px;
    gap: 11.4px;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 5px 0px 6px;
}

.section-header {
    font-family: var(--font), monospace;
    font-size: 18px;
    color: var(--accent-color);
    margin-top: 39.5px;
    padding-left: 4px;
}

.section-header-advice {
    margin-top: 41px;
}

.section-header-attention {
    padding: 2px 0px 0px 4px;
}

.section-multitasking {
    display: grid;
    padding: 21px 6px 0px 4px;
    gap: 11px;
}

.section-wrapper {
    display: grid;
    padding: 1px 5px 0px 4px;
    margin-top: 20px;
    gap: 11px;
}

.p {
    color: var(--text-color);
    font-family: var(--font), monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 8px;
}

.article {
    display: grid;
    gap: 11px;
}

a {
    text-shadow: 2px 2px 0 var(--decor-bg);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    outline: 0;
    border-bottom: 1px solid var(--text-color);
}

a:focus {
    outline: 0;
    border: 1px solid var(--text-color);
}

.title-clouds {
    font-weight: 400;
    margin-top: 11px;
}

.title-normal {
    font-weight: 400;
}

.title-simple {
    margin-bottom: 10px;
}

.section-wrapper-images {
    padding: 6px 5px 0 4px;
}

.title-images {
    margin-top: 35px;
    margin-bottom: 11px;
}

.section-images {
    display: grid;
    gap: 10px;
}

.images {
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
    inline-size: -webkit-fill-available;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    min-block-size: 668px;
    margin-top: 40px;
    block-size: 100vh;
}

.footer-title {
    align-self: center;
    justify-self: center;
    font-size: var(--main-header-size-mobile);
    color: var(--main-header-color);
    font-family: var(--font), monospace;
    text-shadow: 2px 2px 0 var(--decor-bg);
    font-weight: 700;
    padding: 1px 0px 0px 1px;
}

@media (width >=768px) {
    .header {
        padding: 10px 20px 0px 0;
        row-gap: 30px;
    }
    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }
    .decorated-zone::after {
        left: 20px;
        bottom: 20px;
    }
    .bulb {
        margin: 0px;
        padding: 11px 0px 0px 1px;
    }
    .header__theme-menu {
        padding: 30px 2px 0px 0px;
    }
    .header__theme-menu ul {
        display: grid;
        gap: 12px;
    }
    .header__theme-menu-button {
        margin: 0;
    }
    h1 {
        font-size: var(--main-header-size-desktop);
        justify-self: start;
        padding: 0px 0px 8px 0px;
    }
    .main-text {
        justify-self: end;
        max-inline-size: 364px;
        margin-bottom: 41px;
    }
    .content-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 21px;
        padding: 18px 5px 0px 2px;
    }
    .section-header {
        padding: 2px 0px 0px 12px;
    }
    .section-header-attention {
        padding: 14px 0px 0px 12px;
    }
    .section-wrapper {
        padding: 10px 5px 0px 2px;
        margin-top: 32px;
    }
    .section-multitasking {
        grid-row: 2;
        grid-column: 1 / -1;
        padding: 0px 5px 0px 9px;
    }
    .article {
        padding: 0px 5px 0px 3px;
    }
    .section-advice {
        padding: 54px 10px 0px 4px;
    }
    .section-header-advice {
        padding: 14px 0px 0px 12px;
    }
    .section-wrapper-images {
        padding: 40px 15px 0px 14px;
    }
    .title-images {
        margin-top: 30px;
        margin-bottom: 21px;
    }
    .section-images {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(150px, auto);
    }
    .section-images img:nth-of-type(1) {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .section-images img:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1 / span 2;
        align-self: stretch;
    }
    .section-images img:nth-of-type(3) {
        grid-column: 1;
        grid-row: 2 / span 2;
        align-self: stretch;
    }
    .section-images img:nth-of-type(4) {
        grid-column: 2;
        grid-row: 2;
    }
    .section-images img:nth-of-type(5) {
        grid-column: 2 / -1;
        grid-row: 3;
    }
    .footer {
        margin-top: 59px;
    }
    .footer-title {
        font-size: var(--main-header-size-desktop);
    }
}

@media (width >=1024px) {
    .header {
        padding: 15px 20px 0 0;
    }
    .bulb {
        padding: 6px 9px 0px 0px;
    }
    h1 {
        grid-row: 2;
        padding: 0px 0px 14px 0px;
    }
    .header__theme-menu {
        grid-column: 1;
        justify-self: center;
        align-self: start;
        margin: 0 0 0 82px;
        padding: 0;
    }
    .header__theme-menu ul {
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        margin: 0;
        padding: 4px 5px 0px 0px;
    }
    .main-text {
        max-inline-size: 491px;
        padding: 0px 0px 58px 0px;
        margin: 0px;
    }
    .content-section {
        gap: 10px;
        align-items: start;
        padding: 51px 15px 0px 7px;
    }
    .section-header {
        margin: 0;
        padding: 0;
    }
    .section-header-concentrate {
        padding: 9px 0px 0px 7px;
    }
    .section-wrapper {
        margin: 0;
        padding: 9px 0px 0px 3px;
    }
    .article {
        padding: 0px 0px 0px 2px;
    }
    .section-header-attention {
        grid-column: 1 / -1;
        max-width: 350px;
        padding: 21px 0px 0px 7px;
    }
    .section-multitasking {
        grid-template-columns: repeat(3, 1fr);
        gap: 19px;
        align-items: start;
        padding: 11px 0px 0px 5px;
    }
    .section-header-advice {
        padding: 20px 0px 0px 7px;
    }
    .section-advice {
        padding: 20px 0px 0px 6px;
    }
    .title-simple {
        margin-bottom: 9px;
    }
    .section-wrapper-images {
        padding-top: 41px;
    }
    .title-images {
        margin-bottom: 21px;
    }
    .footer {
        padding: 0px 15px 0px 0px;
    }
    .footer-title {
        padding: 0px 0px 0px 15px;
    }
}